/* Nav bar for large screen */

@media (min-width: 800px) {
  .navbar {
    list-style-type: none;
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: 0;
    overflow: hidden;
    background-color: rgba(151, 151, 151, 0.699);
    height: 4rem;
    font-size: 1.4em;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    padding: 1em;
  }

  .social {
    float: right;
    padding-bottom: 1rem;
    font-size: 1em;
  }

  li a:hover {
    background-color: rgb(82, 81, 81);
  }
}

/* For medium screen */

@media (min-width: 361px) and (max-width: 799px) {
  .navbar {
    list-style-type: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0;
    overflow: hidden;
    background-color: rgba(151, 151, 151, 0.699);
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.2em;
  }

  .social {
  }

  li a {
    display: block;
    color: whitesmoke;
    padding: 0.2em;
    text-align: center;
  }

  li a:hover {
    background-color: rgb(82, 81, 81);
  }
}

/* for small */

@media (max-width: 360px) {
  .navbar {
    list-style-type: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0;
    overflow: hidden;
    background-color: rgba(151, 151, 151, 0.699);
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1em;
  }

  .social {
  }

  li a {
    display: block;
    color: whitesmoke;
    padding: 0.2em;
    text-align: center;
  }

  li a:hover {
    background-color: rgb(82, 81, 81);
  }
}
