/** @format */

@import "Navigation.css";
@import "resp_small.css";
@import "resp_medium.css";
@import "resp_larg.css";
@import "footer.css";

body {
  background-blend-mode: exclusion;
  background-color: rgb(233, 233, 227);
}

.title {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: flex-start;
  padding-top: 1em;
  background-image: url("../../Images/Compass2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: none;
  min-height: 50px;
  max-height: auto;
  box-shadow: 5px 5px 8px #888;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.box:hover {
  box-shadow: 5px 10px 8px rgb(80, 80, 80);
}

.box img {
  width: 100%;
  height: 220px;
  padding: 0;
}

.box h1 {
  margin-left: 1rem;
  /* margin-right: 1rem; */
  width: 75%;
  font-size: 1.2rem;
  height: 48px;
  overflow: hidden;
}

.box h2 {
  margin-left: 1rem;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: rgba(117, 130, 245, 0.933);
}

.box h3 {
  margin-left: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: rgb(3, 80, 80);
}

.blog-title {
  display: flex;
  justify-content: center;
}

.cap-text {
  text-indent: 1rem;
  overflow: hidden;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  height: 70px;
  padding: 5px;
  color: rgba(15, 15, 15, 0.753);
}

.underlined {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.button {
  border-radius: 6px;
  height: 35px;
}

.button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.copyrights {
  grid-column: 1/3;
  grid-row: 8;
  font-size: 0.8em;
  margin-top: 0;
  margin-left: 2em;
}
